h2{
  text-align: center;
}

.dark-mode {
  background-color: rgb(41, 39, 39);
  color: white;
  border: none;
}

button{
  text-align: center;
  display: center;
  border-radius: 12px;
  border: none;
}  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(187, 119, 31);
  color: white;
}

nav {
  background-color: rgb(187, 119, 31);
  color: white;
}

a:hover {
  background-color: #c7660c;
  color: black;
  animation-delay: 1s;
}

body{
background-color: darkgreen;
color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container{
  text-align: center;
}

.grid-container {
display: grid;
grid-template-columns: 50% 50%;
padding: 10px;
}

.grid-item {
border: 5px solid rgba(187, 119, 31);
padding: 18px;
font-size: 20px;
text-align: center;
min-width: 50%;
max-height: 400px;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-container-gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}
  
.grid-item-gallery {
  border: 5px solid rgba(187, 119, 31);
  padding: 18px;
  font-size: 20px;
  text-align: center;
  min-width: 50%;
  max-height: 400px;
}

@media screen and (min-width: 1400px) {
  .grid-container-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 1399px) {
  .grid-container-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid-container-gallery {
    grid-template-columns: 1fr;
  }
}


.grid-container-home {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-item-home {
  border: 5px solid rgba(187, 119, 31);
  padding: 18px;
  font-size: 20px;
  text-align: center;
  min-width: 100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button with a specific background color etc */
.button-submit {
  background-color: rgba(187, 119, 31);
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


footer {
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(187, 119, 31);
color: white;
}